body {
	font: 100% arial, sans-serif;
	text-align: center;
	margin: 0;
	box-sizing: border-box;
}

button {
	font-size: 2em;
	height: 2em;
	border-radius: 10px;
	border: .01em solid #000;	
	background-color: #FFF;
  touch-action: manipulation;
}

div#calculator {
  background-color: #536878;
  width: 338px;
  height: 480px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 4em;
}

div#display {
  font-size: 2em;
  color: #FFF;
  height: 1.5em;
  width: 97%;
  margin: .75em auto .5em auto;
  padding-top: 1em;
  background-color: #36454f;
  border-radius: 2px;
  overflow-y: scroll;
  white-space: nowrap;
}

div#mainButtons {
  display: inline-flex;
  flex-flow: row-reverse wrap;
  width: 70%;
  align-content: flex-start;
  margin: 0;
}

div#bottomButtons {
	width: 100%;
	margin: 0;
	margin-bottom: .5em;
  margin-left: .15em;
	display: flex;
	align-content: center;
}

div#operatorButtons {
  display: flex;
  flex-flow: column;
  margin: 0 0 .5em 0.09em;
  align-content: flex-start;
}

button#decimal,
button#equals,
button.num-btn,
button.top-btn,
button.op-btn {
	padding: .25em;
	margin: .1em;
	width: 2.25em;
}

button.clear {
	background-color: #965050;
}

button.op-btn {
	background-color: #c7c4c4;
}





